<template>
  <div class="about">
    <h1>{{ msg }}---{{$route.params.name}}---{{age}}</h1>
    <el-carousel indicator-position="outside">
    	<el-carousel-item v-for="item in image" :key="item">
	      <!--<h3>{{ item }}</h3>-->
	      <img :src="'../../static/'+item" alt="" />
	    </el-carousel-item>
	  </el-carousel>
	  <i class="el-icon-edit"></i>
		<i class="el-icon-share"></i>
		<i class="el-icon-delete"></i>
		<el-button type="primary" icon="el-icon-search">搜索</el-button>
  </div>
</template>

<script>
export default {
  name: 'About',
  data () {
    return {
      msg: '我是About',
      age:'',
      image:['1.jpg','2.jpg','3.jpg']
    }
  },
  created(){
  	console.log(this.$route);
  	this.age=this.$route.params.age;
  }
}
</script>

<style scoped>
h1{
	text-align: center;
	color: #FF69B4;
	line-height: 100px;
}
.el-carousel__item h3 {
    color: #475669;
    font-size: 18px;
    opacity: 0.75;
    line-height: 300px;
    margin: 0;
  }
  
  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }
  
  .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
  }
  img{
  	height: 100%;
  	width: 100%;
  }
</style>
