<template>
  <div class="detialsb">
  	<ul>
  		<li>
  			编号：<span>{{list.id}}</span>
  		</li>
  		<li>
  			名字：<span>{{list.name}}</span>
  		</li>
  		<li>
  			邮箱：<span>{{list.email}}</span>
  		</li>
  		<li>
  			电话：<span>{{list.phone}}</span>
  		</li>
  		<li>
  			网站：<span>{{list.website}}</span>
  		</li>
  		<li>
  			用户名：<span>{{list.username}}</span>
  		</li>
  		
  	</ul>
  </div>
</template>

<script>
export default {
	name: 'Detialsb',
	data () {
    	return {
	      msg: '我是Detialsb',
	      eid:this.$route.params.bid,
	      list:''
    	}
  	},
 	created(){
		this.getMsg();
	},
  	methods:{
		getMsg(){
			this.$axios.get("http://jsonplaceholder.typicode.com/users/"+this.eid).then(res=>{
				this.list=res.data;
				console.log(res.data);
				console.log(this.list);
			})
		}
  	}	
}
</script>

<style scoped>
	li{
		text-align: left;
		color: #8A2BE2;
		font-size: 18px;
		height:60px;
		line-height: 60px;
		padding: 0 20px;
		border-bottom: 1px dashed #ccc;
	}
	span{
		color: #FF69B4;
		padding-left: 25px;
	}
	.detialsb{
		overflow-y: scroll;
	}
</style>
