<template>
  <div class="detials">
  	<ul>
  		<li>
  			编号：<span>{{list.id}}</span>
  		</li>
  		<li>
  			标题：<span>{{list.title}}</span>
  		</li>
  		<li>
  			内容：<span>{{list.body}}</span>
  		</li>
  	</ul>
  </div>
</template>

<script>
export default {
	name: 'Detials',
	data () {
    	return {
	      msg: '我是Detials',
	      did:this.$route.params.aid,
	      list:''
    	}
  	},
 	created(){
		this.getMsg();
	},
  	methods:{
		getMsg(){
			this.$http.get("https://jsonplaceholder.typicode.com/posts/"+this.did).then(res=>{
				this.list=res.body;
				console.log(res.body);
				console.log(this.list);
			})
		}
  	}	
}
</script>

<style scoped>
	li{
		text-align: left;
		color: #8A2BE2;
		font-size: 18px;
		height:100px;
		line-height: 100px;
		padding: 0 20px;
	}
	span{
		color: #FF69B4;
	}
</style>
