<template>
  <div class="home">
    <h1>{{ msg }}<br>{{msg2}}</h1>
    <ul class="nav">
    	<router-link to="/menua" tag="li">新闻资讯vue-resource</router-link>
      <router-link to="/menub" tag="li">评论资讯axios</router-link>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data () {
    return {
      msg: '我是HOME',
      msg2:'Welcome to my home!'
    }
  }
}
</script>

<style scoped>
	.home{
		text-align: center;
		text-decoration: none;
		color: #FF69B4;
		font-size: 25px;
	}
h1{
	text-align: center;
	color: #FF69B4;
	line-height: 200px;
}
.nav{
	width: 100%;
	height: 60px;
	background-color: pink;
	max-width: 1000px;
	margin: 0 auto;
	line-height:60px;
	text-align: center;
}
li{
	float: left;
	width: 50%;
	color: #8A2BE2;
}
li:hover{
	background-color: #DA70D6;
	color: #fff;
}
</style>
