<template>
  <div class="login">
    <h1>{{ msg }}</h1>
    <button class="btn" @click="show">进入首页</button>
  </div>
</template>

<script>
export default {
  name: 'Login',
  data () {
    return {
      msg: '我是Login'
    }
  },
  methods:{
  	show(){
//		this.$router.push('/home');
		this.$router.replace('/home');
  	}
  }
}
</script>

<style scoped>
h1{
	color: #FF69B4;
	line-height: 200px;
}
.login{
	text-align: center;
}
.btn{
	background-color: blueviolet;
	border:none;
	outline: none;
	height:50px;
	width: 200px;
	color: #fff;
	line-height: 50px;
	font-weight: 500;
}
</style>
