<template>
  <div class="menua">
  	<ul>
  		<router-link tag="li" v-for="(v,i) in lists" :to="'/detials/'+v.id" :key="v.id">{{v.title}}</router-link>
  	</ul>
  </div>
</template>

<script>
export default {
  name: 'Menua',
  data () {
    return {
      msg: 'Menua',
      lists:[]
    }
  },
  created(){
  	this.getMsg();
  },
  methods:{
  	getMsg(){
  		this.$http.get("https://jsonplaceholder.typicode.com/posts").then(res=>{
  			this.lists=res.body
  		})
  	}
  }
}
</script>

<style scoped>
	.menua{
		width: 100%;
		height: 100%;
	}
	ul{
		width: 100%;
		height: 100%;
		overflow-y: scroll;
	}
	li{
		height: 50px;
		line-height: 50px;
		padding:0 20px;
		text-align: center;
		color:#FF69B4;
		border-bottom: 1px solid #ccc;
	}
	li:hover{
		background-color: pink;
		color:#fff;
	}
</style>
