<template>
  <div class="menu">
    <h1>{{ msg }}---{{$route.query.name}}---{{age}}</h1>
  </div>
</template>

<script>
export default {
  name: 'Menu',
  data () {
    return {
      msg: '我是Menu',
      age:''
    }
  },
  created(){
  	this.age=this.$route.query.age;
  }
}
</script>

<style scoped>
h1{
	text-align: center;
	color: #FF69B4;
	line-height: 500px;
}
</style>
