<template>
  <div class="menub">
  	<ul>
  		<router-link tag="li" v-for="(m,n) in lists" :to="'/detialsb/'+m.id" :key="m.id">{{m.name}}</router-link>
  	</ul>
  </div>
</template>

<script>
export default {
  name: 'Menub',
  data () {
    return {
      msg: '我是Menub',
      lists:[]
    }
  },
  created(){
  	this.getMsg();
  },
  methods:{
  	getMsg(){
		this.$axios.get("http://jsonplaceholder.typicode.com/users").then(res=>{
			this.lists=res.data
			console.log(res.data)
		})
  	}
  }
}
</script>

<style scoped>
	.menub{
		width: 100%;
		height: 100%;
	}
	ul{
		width: 100%;
		height: 100%;
		overflow-y: scroll;
	}
	li{
		height: 50px;
		line-height: 50px;
		padding:0 20px;
		text-align: center;
		color:#FF69B4;
		border-bottom: 1px solid #ccc;
	}
	li:hover{
		background-color: pink;
		color:#fff;
	}
</style>
