<template>
  <div class="register">
    <h1>{{ msg }}</h1>
    <ul>
    	<router-link to="/register/one" tag="li">第一步</router-link>
    	<router-link to="/register/two" tag="li">第二步</router-link>
    	<router-link to="/register/three" tag="li">第三步</router-link>
    	<router-link to="/register/four" tag="li">第四步</router-link>
    </ul>
    <transition mode="out-in" name="reg" appear>
    	<router-view></router-view>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'Register',
  data () {
    return {
      msg: '我是Register'
    }
  }
}
</script>

<style scoped>
h1{
	text-align: center;
	color: #FF69B4;
	line-height: 200px;
}
ul{
	height:50px;
	width: 100%;
	background: pink;
	line-height: 50px;
	text-align: center;
}
li{
	width:25%;
	float: left;
}
.myactive{
	color:#fff;
	background-color: orchid;
}
.reg-enter,.reg-leave-to{
	opacity: 0;
	transform:translateX(100px)
	 }
.reg-enter-active,.reg-leave-active{
	transition: all 0.5s ease;
}
</style>
