<template>
  <div id="app">
  	<nav class="nav">
  		<ul>
  			<router-link :to="{name:'Home'}" tag="li">首页</router-link>
  			<router-link to="/menu?name=左锋&age=20" tag="li">菜单</router-link>
  			<router-link to="/about/武畅/19" tag="li">关于我们</router-link>
  			<router-link to="/login" tag="li">登录</router-link>
  			<router-link to="/register" tag="li">注册</router-link>
  		</ul>
  	</nav>
  	<div class="con">
  		<transition mode="out-in" appear>
  			<router-view/>
  		</transition>
    </div>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style scoped>
	 .nav{
	 	width:100%;
	 	height:60px;
	 	background-color: hotpink;
	 }
	 ul{
	 	  width:1000px;
	 	  height:60px;
	 	  line-height:60px;
	 	  margin:0 auto;
	 	  text-align: center;
	 }
	 li{
		 float:left;
		 width: 20%;
	 }
	 .con{
	 	 height:500px;
	 	 width:1000px;
	 	 margin:0 auto;
	 	 border:1px solid #FF69B4;
	 }
	 .myactive{
	 	color:#fff;
	 	background-color: orchid;
	 }
	 .v-enter,.v-leave-to{
	 	opacity: 0;
	 	transform:translateX(100px);
	 }
	 .v-enter-active,.v-leave-active{
	 	transition: all 0.5s ease;
	 }
</style>
