<template>
  <div class="one">
    <h1>{{ msg }}</h1>
    
  </div>
</template>

<script>
export default {
  name: 'One',
  data () {
    return {
      msg: '我是One'
    }
  }
}
</script>

<style scoped>
h1{
	text-align: center;
	color: #FF69B4;
	line-height: 200px;
}
</style>
